html {
  overflow-y: scroll;
  margin: 0;
  padding: 0;
}
body {
  background: url('../image/default/bg.jpg') center top repeat-y;
  color: #333333;
  font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
  margin: 0px;
  padding: 0px;
  font-size: 14px;
  overflow-x: hidden;
}
.fs9 {
  font-size: 11px;
}
.fs10 {
  font-size: 12px;
}
.fs11 {
  font-size: 13px;
}
.fs12 {
  font-size: 14px;
}
.fs13 {
  font-size: 15px;
}
.fs14 {
  font-size: 16px;
}
.fs15 {
  font-size: 17px;
}
.fs16 {
  font-size: 18px;
}
.welcome {
  color: #636E75;
  font: Verdana;
  margin-top: 0px;
  margin-bottom: 20px;
  font-size: 32px;
  font-weight: normal;
  text-shadow: 0 0 1px rgba(0,0,0,0.01);
}
a {
  cursor: hand;
  cursor: pointer;
}
a img {
  border: none;
}
a:hover {
  text-decoration: none;
  color: #3abec0;
}
img {
  border: 0 none;
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}
table.list {
  border-collapse: collapse;
  width: 100%;
  border-top: 1px solid #ddd;
  border-left: 1px solid #ddd;
  margin-bottom: 20px;
}
table.list thead td {
  background-color: transparent;
  padding: 0px 5px;
}
table.list .center {
  text-align: center;
  padding: 7px;
}
table.list tbody td {
  padding: 0px 5px;
}
table.list td {
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}
table.list .right {
  text-align: right;
  padding: 7px;
}
table.list .left {
  text-align: left;
  padding: 7px;
}
table.list thead td a,
.list thead td {
  text-decoration: none;
  color: #222222;
  font-weight: bold;
}
input.large-field,
select.large-field {
  width: 300px;
}
table.form {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}
table.form > * > * > td {
  color: #000000;
}
table.form td {
  padding: 4px;
}
table.form tr td:first-child {
  width: 150px;
}
table.radio {
  width: 100%;
  border-collapse: collapse;
}
table.radio td {
  padding: 5px;
}
table.radio td label {
  display: block;
}
table.radio tr td:first-child {
  width: 1px;
}
table.radio tr td:first-child input {
  margin-top: 1px;
}
table.radio tr.highlight:hover td {
  background: #F1FFDD;
  cursor: pointer;
}
.pagination {
  border-top: 1px solid #ddd;
  padding-top: 8px;
  display: inline-block;
  width: 100%;
  margin-bottom: 10px;
}
.pagination .links {
  float: left;
}
.pagination .links a,
.pagination .links b {
  border: 1px solid #ddd;
}
.pagination .links a {
  display: inline-block;
  border-left-width: 1px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  padding: 6px 12px;
  text-decoration: none;
  color: #A3A3A3;
}
.pagination .links a:hover {
  background-color: #428bca;
  color: #fff;
}
.pagination .links b {
  display: inline-block;
  border-left-width: 1px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  padding: 6px 12px;
  font-weight: normal;
  text-decoration: none;
  color: #fff;
  background-color: #428bca;
}
.pagination .results {
  float: right;
  padding-top: 3px;
}
input.button {
  margin: 0;
  border: 0;
  height: 24px;
  padding: 0px 12px 0px 12px;
}
a.button,
input.button {
  cursor: pointer;
  color: #FFFFFF;
  background: url('../image/button.png') repeat-x;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0px 2px 2px #DDDDDD;
  box-shadow: 0px 2px 2px #DDDDDD;
}
a.button:hover,
input.button:hover {
  background-position: 0px -24px;
}
a.button {
  display: inline-block;
  text-decoration: none;
  padding: 6px 12px 6px 12px;
}
.buttons {
  background: #FFFFFF;
  border: 1px solid #CCC;
  overflow: auto;
  padding: 6px;
  margin-top: 10px;
  margin-bottom: 20px;
}
.buttons .center {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
.buttons .right {
  float: right;
  text-align: right;
}
.buttons .left {
  float: left;
  text-align: left;
}
.htabs {
  height: 30px;
  line-height: 16px;
  border-bottom: 1px solid #DDDDDD;
}
.htabs a {
  border-top: 1px solid #ddd;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  background: #FFFFFF;
  padding: 7px 15px 6px 15px;
  float: left;
  font-size: 15px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  color: #000;
  margin-right: 2px;
  display: none;
}
.htabs a.selected {
  padding-bottom: 7px;
  background: #049cdb;
  color: #FFFFFF;
}
.tab-content {
  border-bottom: 1px solid #ddd;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  padding: 10px;
  margin-bottom: 20px;
  z-index: 2;
}
ul.links {
  position: relative;
  margin: 0;
  padding: 0;
}
ul.links li {
  display: inline;
  margin-left: 6px;
}
.required {
  color: #FF0000;
  font-weight: bold;
}
.success,
.warning,
.attention,
.information {
  padding: 10px 10px 10px 33px;
  margin-bottom: 15px;
  color: #555555;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}
.success .close,
.warning .close,
.attention .close,
.information .close {
  float: right;
  padding-top: 4px;
  padding-right: 4px;
  cursor: pointer;
}
.attention {
  background: #FFF5CC url('../image/attention.png') 10px center no-repeat;
  border: 1px solid #F2DD8C;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}
.warning {
  background: #FFD1D1 url('../image/warning.png') 10px center no-repeat;
  border: 1px solid #F8ACAC;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}
.help {
  color: #999;
  font-size: 10px;
  font-weight: normal;
  font-family: 14px;
  display: block;
}
.error {
  display: block;
  color: #FF0000;
}
.welcome {
  color: #636E75;
  font: 14px;
  margin-top: 0px;
  margin-bottom: 20px;
  font-size: 18px;
  font-weight: normal;
  text-shadow: 0 0 1px rgba(0,0,0,0.01);
}
.success {
  background: #EAF7D9 url('../image/success.png') 10px center no-repeat;
  border: 1px solid #BBDF8D;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}
h1 {
  font-size: 24px;
  line-height: 34px;
  margin: 0px;
  font-family: "Montserrat", sans-serif;
}
h1 small {
  font-size: 21px;
}
h2 {
  font-size: 21px;
}
h2 small {
  font-size: 14px;
}
h3 {
  font-size: 17px;
  line-height: 34px;
}
h3 small {
  font-size: 16px;
}
h4 {
  font-size: 16px;
  line-height: 34px;
}
h4 small {
  font-size: 14px;
}
h5 {
  font-size: 15px;
  line-height: 34px;
}
h5 small {
  font-size: 12px;
}
h6 {
  font-size: 14px;
  line-height: 34px;
}
form {
  padding: 0;
  margin: 0;
  display: inline;
}
input[type='text'],
input[type='password'],
textarea {
  background: #fff;
  border: 1px solid #ccc;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  padding: 3px;
  margin-left: 0px;
  margin-right: 0px;
}
.wrap-container {
  background: #FFFFFF;
  padding: 0 15px;
}
.page-common-home .wrap-container {
  padding: 0;
}
#topbar {
  margin-bottom: 18px;
}
#topbar .topbar {
  color: #999999;
  font-size: 13px;
  background: blue;
}
#topbar .topbar ul li {
  margin-left: 10px;
}
#topbar .topbar ul li a {
  font-size: 13px;
  color: #0064cd;
}
#topbar .topbar ul li span {
  margin-right: 5px;
}
#topbar .topbar ul li:hover a {
  color: #eeeeee;
}
#topbar .topbar ul li:first-child {
  margin-left: 20px;
}
#topbar .topbar .links {
  margin: 15px 0px;
}
#header-main {
  background-color: #FFFFFF;
  margin-bottom: 18px;
}
#header-main .header-wrap {
  height: 86px;
}
#header-main .inner {
  display: table;
  position: relative;
  height: 100%;
}
#header-main .inner > * {
  display: table-cell;
  vertical-align: middle;
}
#content {
  min-height: 400px;
  margin-bottom: 25px;
}
.sidebar  [class*="col-"] {
  width: 100%;
}
#footer {
  background: transparent;
  min-height: 100px;
  padding-top: 20px;
  padding-bottom: 35px;
  color: #b5b5b5;
}
#footer:before,
#footer:after {
  content: " ";
  display: table;
}
#footer:after {
  clear: both;
}
#footer .box .box-heading {
  background: none;
  border: none;
  color: #FFFFFF;
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  position: relative;
  margin-bottom: 12px;
  padding: 12px 0px;
}
#footer .box .box-heading:after {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 18px;
  height: 1px;
  content: ".";
  text-indent: -9999em;
  background: #3abec0;
}
#footer .box .box-content {
  background: none;
  border: none;
}
#footer .footer-center .wrap-fcenter {
  background: url('../image/default/fcenter.png');
  padding: 20px;
}
#footer h3 {
  color: #FFFFFF;
  margin-top: 0px;
  margin-bottom: 8px;
}
#footer .column a {
  text-decoration: none;
  color: #b5b5b5;
}
#footer .column a i {
  font-size: 10px;
  margin-right: 3px;
}
#footer .column ul {
  list-style: none;
  margin-top: 0px;
  padding-left: 0;
}
#footer .column ul li {
  margin-bottom: 9px;
}
#footer .column a:hover {
  color: #3abec0;
}
#powered {
  text-align: left;
  clear: both;
  color: #FFFFFF;
}
#powered .powered {
  background: url('../image/default/powered.png');
  padding: 10px 20px;
  overflow: hidden;
}
#powered .powered a {
  color: #3abec0;
}
.banner div {
  text-align: center;
  width: 100%;
  display: none;
}
.banner div img {
  margin-bottom: 20px;
}
#breadcrumb .breadcrumb {
  padding: 15px;
  border-radius: 0;
  border-bottom: 1px dotted #999999;
}
#breadcrumb .breadcrumb li a {
  color: #222222;
}
#breadcrumb .breadcrumb li:last-child a {
  color: #999999;
}
#breadcrumb .breadcrumb li a:hover {
  color: ;
}
.box {
  margin-bottom: 20px;
}
.box .box-heading {
  border: 1px solid #eeeeee;
  background: url('../image/background.png') repeat-x;
  padding: 8px 10px 7px 10px;
  font-family: Monaco, Menlo, Consolas, "Courier New", monospace;
  font-size: 14px;
  font-weight: bold;
  line-height: 14px;
  color: #333;
}
.box .box-content {
  background: #FFFFFF;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  padding: 10px;
}
.box.highlighted .box-heading,
.box.orange .box-heading,
.box.dark .box-heading,
.box.green .box-heading,
.box.maroon .box-heading,
.box.blue .box-heading,
.box.gray .box-heading,
.box.pink .box-heading,
.box.red .box-heading {
  border-bottom: 1px dashed #FFFFFF;
  color: #FFFFFF;
}
.box.orange .box-heading {
  background: #fbb450;
}
.box.orange .box-content {
  background: #f89406;
}
.box.orange li {
  border-top-color: #fbb450;
}
.box.orange a {
  color: #B66B00;
}
.box.orange a:hover {
  color: #6F4100;
}
.box.dark {
  background: #000000;
}
.box.dark a {
  color: #777;
}
.box.dark a:hover {
  color: #888;
}
.box.green {
  background: #46a546;
}
.box.green a {
  color: #63E063;
}
.box.green a:hover {
  color: #43F043;
}
.box.maroon {
  background: #F35D34;
}
.box.maroon a {
  color: #B4300D;
}
.box.maroon a:hover {
  color: #C93F19;
}
.box.blue {
  background: #049cdb;
}
.box.blue a {
  color: #47C9FF;
}
.box.blue a:hover {
  color: #0073A3;
}
.box.gray {
  background: #555555;
}
.box.gray a {
  color: #999;
}
.box.gray a:hover {
  color: #777;
}
.box.pink {
  background: #c3325f;
}
.box.pink a {
  color: #FF5C8F;
}
.box.pink a:hover {
  color: #FA2E6E;
}
.box.red {
  background: #9d261d;
}
.box.red a {
  color: #EE4538;
}
.box.red a:hover {
  color: #DA3F33;
}
#language {
  line-height: 10px;
  border: 2px solid #eeeeee;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  padding: 6px;
  margin: 10px 0px 10px 6px;
}
#language img {
  cursor: pointer;
  margin: 2px 3px 1px;
}
#currency {
  line-height: 10px;
  border: 2px solid #eeeeee;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  padding: 6px;
  margin: 10px 0px 10px 6px;
}
#currency a {
  display: inline-block;
  padding: 2px 4px;
  text-decoration: none;
  cursor: pointer;
  color: #999999;
}
#currency a:hover {
  color: #3abec0;
}
#currency a b {
  color: #3abec0;
  text-decoration: none;
}
#header #cart {
  position: relative;
  top: 0px;
  right: 5px;
  z-index: 9999;
  min-width: 200px;
  margin-top: 20px;
  height: 66px;
}
#header #cart .content {
  clear: both;
  display: none;
  position: absolute;
  top: 66px;
  right: 0px;
  padding: 8px;
  min-height: 150px;
  min-width: 200px;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  -webkit-box-shadow: 0px 6px 6px #eeeeee;
  box-shadow: 0px 6px 6px #eeeeee;
  background: #FFFFFF;
}
#header #cart > span.icon {
  float: left;
  text-align: center;
  width: 38px;
  height: 38px;
  line-height: 38px;
  background-color: #3abec0;
  display: block;
  color: #FFFFFF;
  font-size: 16px;
}
#header #cart .heading {
  float: left;
  margin-right: 0px;
  padding-left: 8px;
  padding-right: 14px;
  border-top: 1px solid #FFFFFF;
  border-left: 1px solid #FFFFFF;
  border-right: 1px solid #FFFFFF;
  background: #FFFFFF;
  position: relative;
  z-index: 1;
}
#header #cart .heading a {
  text-decoration: none;
  color: #999999;
  line-height: 14px;
}
#header #cart .heading a span {
  background: #FFFFFF url('../image/arrow-down.png') 100% 50% no-repeat;
  padding-right: 15px;
}
#header #cart .heading h4 {
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  margin: 0px;
  color: #3abec0;
  line-height: 20px;
}
#header #cart.active .content {
  display: block;
}
#header #cart .checkout {
  text-align: right;
  clear: both;
}
#header #cart .empty {
  padding-top: 50px;
  text-align: center;
}
.mini-cart-total {
  text-align: right;
}
.mini-cart-total td {
  color: #000;
  padding: 4px;
}
.mini-cart-total table {
  border-collapse: collapse;
  display: inline-block;
  margin-bottom: 5px;
}
.mini-cart-info .quantity {
  text-align: right;
}
.mini-cart-info .name small {
  color: #666;
}
.mini-cart-info td {
  color: #000;
  vertical-align: top;
  padding: 10px 5px;
  border-bottom: 1px solid #EEEEEE;
}
.mini-cart-info table {
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 5px;
}
.mini-cart-info .image {
  width: 1px;
}
.mini-cart-info .image img {
  border: 1px solid #EEEEEE;
  text-align: left;
}
.mini-cart-info .remove {
  text-align: right;
}
.mini-cart-info .remove img {
  cursor: pointer;
}
.mini-cart-info td.total {
  text-align: right;
}
#search {
  margin: 10px 16px 10px 6px;
  border: 2px solid #eeeeee;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  padding: 2px 3px 1px;
}
#search input {
  border: none;
}
.product-block {
  position: relative;
  margin-bottom: 30px;
}
.product-block .compare a {
  color: inherit;
  cursor: pointer;
  text-decoration: none;
  padding-left: 18px;
  display: block;
  background: url('../image/add.png') left center no-repeat;
}
.product-block .wishlist a {
  color: inherit;
  cursor: pointer;
  text-decoration: none;
  padding-left: 18px;
  display: block;
  background: url('../image/add.png') left center no-repeat;
}
.product-block a:hover {
  color: #0000b3;
}
.product-block .price-old {
  color: #555555;
  text-decoration: line-through;
}
.product-block .rating {
  display: block;
  margin-bottom: 4px;
}
.product-block .cart {
  margin-bottom: 3px;
}
.product-block .price-new {
  font-weight: bold;
}
.product-block .name a {
  color: blue;
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
  display: block;
  margin-bottom: 4px;
}
.product-block .image {
  display: block;
  margin-bottom: 0px;
  position: relative;
}
.product-block .image img {
  padding: 3px;
  border: 1px solid #E7E7E7;
}
.product-block .image .product-label-special {
  position: absolute;
  top: 6px;
  right: 6px;
  background: #D9534F;
  z-index: 10;
}
.product-block .image .product-zoom {
  position: absolute;
  bottom: 6px;
  right: 6px;
  display: none;
  z-index: 10;
}
.product-block .image:hover .product-zoom {
  display: block;
}
.product-block .price {
  display: block;
  font-weight: bold;
  color: #F00;
  margin-bottom: 4px;
}
.product-block .price .price-tax {
  display: none;
}
.sidebar .product-block .image {
  float: left;
  margin-right: 12px;
}
.sidebar .product-block .wishlist,
.sidebar .product-block .compare {
  display: none;
}
ul.box-category,
ul.box-category ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
ul.box-category > li:first-child {
  padding: 0px 8px 8px 0px;
}
ul.box-category > li {
  padding: 8px 8px 8px 0px;
}
ul.box-category > li + li {
  border-top: 1px solid #eeeeee;
}
ul.box-category > li ul {
  display: none;
}
ul.box-category > li ul > li {
  padding: 5px 5px 0px 10px;
}
ul.box-category > li ul > li > a {
  text-decoration: none;
  display: block;
}
ul.box-category > li ul > li > a.active {
  font-weight: bold;
}
ul.box-category > li > a {
  text-decoration: none;
  color: #333;
}
ul.box-category > li a.active {
  font-weight: bold;
}
ul.box-category > li a.active + ul {
  display: block;
}
ul.box-filter,
ul.box-filter ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
ul.box-filter > li ul {
  padding-bottom: 10px;
}
ul.box-filter span {
  font-weight: bold;
  border-bottom: 1px solid #eeeeee;
  display: block;
  padding-bottom: 5px;
  margin-bottom: 8px;
}
#colorbox *:before,
#colorbox *:after {
  -moz-box-sizing: inherit;
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}
.zoomContainer .zoomLens {
  border-color: #999999 !important;
}
.zoomContainer .zoomWindow {
  border: 4px solid #eeeeee !important;
}
.category-list {
  margin-bottom: 20px;
}
.category-list ul {
  float: left;
}
.category-info {
  margin-bottom: 20px;
}
.category-info .image {
  float: left;
  padding: 5px;
  margin-right: 15px;
  border: 1px solid #E7E7E7;
}
.manufacturer-heading {
  background: #F8F8F8;
  font-size: 15px;
  font-weight: bold;
  padding: 5px 8px;
  margin-bottom: 6px;
}
.manufacturer-list {
  border: 1px solid #DBDEE1;
  padding: 5px;
  margin-bottom: 20px;
}
.manufacturer-list ul {
  float: left;
  width: 25%;
  margin: 0;
  padding: 0;
  list-style: none;
  margin-bottom: 10px;
}
.manufacturer-content {
  padding: 8px;
  overflow: auto;
}
.product-filter {
  border-bottom: 1px solid #ededed;
  border-top: 2px solid #ededed;
  padding: 5px 4px;
}
.product-filter .sort {
  float: right;
  color: #a0a0a0;
}
.product-filter .limit {
  margin-left: 15px;
  float: right;
  color: #a0a0a0;
}
.product-filter .display {
  margin-right: 15px;
  float: left;
  padding-top: 4px;
  color: #a0a0a0;
}
.product-filter .display a > span {
  margin: 0 3px;
}
.product-filter .display a > em {
  display: none;
}
.product-filter .display a.active {
  color: red;
}
.product-compare {
  padding-top: 6px;
  margin-bottom: 25px;
  font-weight: bold;
}
.product-compare a {
  text-decoration: none;
  font-weight: bold;
}
.product-list .col-fullwidth {
  width: 100%;
}
.product-list .compare a {
  color: #333333;
  text-decoration: none;
  padding-left: 18px;
  display: block;
  background: url('../image/add.png') left 60% no-repeat;
}
.product-list .wishlist a {
  color: #333333;
  text-decoration: none;
  padding-left: 18px;
  display: block;
  background: url('../image/add.png') left center no-repeat;
}
.product-list .price-old {
  color: #F00;
  text-decoration: line-through;
}
.product-list .rating {
  color: #7B7B7B;
}
.product-list .cart {
  margin-bottom: 3px;
}
.product-list .price-tax {
  font-size: 12px;
  font-weight: normal;
  color: #BBBBBB;
}
.product-list .price-new {
  font-weight: bold;
}
.product-list .name {
  margin-bottom: 3px;
}
.product-list .name a {
  color: #38B0E3;
  font-weight: bold;
  text-decoration: none;
}
.product-list .image {
  float: left;
  margin-right: 10px;
}
.product-list .image img {
  padding: 3px;
  border: 1px solid #E7E7E7;
}
.product-list .price {
  float: right;
  height: 50px;
  margin-left: 8px;
  text-align: right;
  color: #333333;
  font-size: 12px;
}
.product-list .description {
  line-height: 15px;
  margin-bottom: 5px;
  color: #4D4D4D;
}
.product-list .right {
  float: right;
  margin-left: 15px;
}
.product-list > div {
  margin-bottom: 15px;
}
.product-list > div + div {
  border-top: 1px solid #EEEEEE;
  padding-top: 16px;
}
.product-list .wishlist,
.product-list .compare {
  margin-bottom: 3px;
}
.product-grid {
  position: relative;
}
.product-grid .description {
  display: none;
}
.product-grid .wishlist,
.product-grid .compare {
  margin-bottom: 3px;
}
.product-info {
  margin-bottom: 20px;
}
.product-info .price-old {
  color: #F00;
  text-decoration: line-through;
}
.product-info .cart {
  border-bottom: 1px solid #E7E7E7;
  padding: 0px 5px 10px 5px;
  margin-bottom: 20px;
  color: #4D4D4D;
}
.product-info .cart .minimum {
  padding-top: 5px;
  font-size: 11px;
  color: #999;
}
.product-info .cart .links {
  display: inline-block;
  vertical-align: middle;
}
.product-info .cart div > span {
  color: #999;
}
.product-info .price-tax {
  font-size: 12px;
  font-weight: normal;
  color: #999;
}
.product-info > .left {
  float: left;
  margin-right: 15px;
}
.product-info > .left + .right {
  margin-left: 265px;
}
.product-info .image {
  border: 1px solid #E7E7E7;
  position: relative;
  margin-bottom: 20px;
  padding: 10px;
  text-align: center;
}
.product-info .price {
  border-bottom: 1px solid #E7E7E7;
  padding: 0px 5px 10px 5px;
  margin-bottom: 10px;
  font-size: 15px;
  font-weight: bold;
  color: #333333;
}
.product-info .price .reward {
  font-size: 12px;
  font-weight: normal;
  color: #999;
}
.product-info .price .discount {
  font-weight: normal;
  font-size: 12px;
  color: #4D4D4D;
}
.product-info .description {
  border-top: 1px solid #E7E7E7;
  border-bottom: 1px solid #E7E7E7;
  padding: 5px 5px 10px 5px;
  margin-bottom: 10px;
  line-height: 20px;
  color: #4D4D4D;
}
.product-info .description a {
  color: #4D4D4D;
  text-decoration: none;
}
.product-info .description span {
  color: #38B0E3;
}
.product-info .image-additional {
  width: 260px;
  margin-left: -10px;
  clear: both;
  overflow: hidden;
}
.product-info .image-additional a {
  float: left;
  display: block;
  margin-left: 10px;
  margin-bottom: 10px;
}
.product-info .image-additional img {
  border: 1px solid #E7E7E7;
}
.product-info .option-image {
  margin-top: 3px;
  margin-bottom: 10px;
}
.product-info .option-image label {
  display: block;
  width: 100%;
  height: 100%;
}
.product-info .option-image img {
  margin-right: 5px;
  border: 1px solid #CCCCCC;
  cursor: pointer;
}
.product-info .options {
  border-bottom: 1px solid #E7E7E7;
  padding: 0px 5px 10px 5px;
  margin-bottom: 10px;
  color: #000000;
}
.product-info .review {
  color: #4D4D4D;
  border-top: 1px solid #E7E7E7;
  border-left: 1px solid #E7E7E7;
  border-right: 1px solid #E7E7E7;
  margin-bottom: 10px;
}
.product-info .review .share {
  line-height: normal;
}
.product-info .review .share a {
  text-decoration: none;
}
.product-info .review > div {
  padding: 8px;
  border-bottom: 1px solid #E7E7E7;
  line-height: 20px;
}
.product-info .review > div > span {
  color: #38B0E3;
}
.review-list {
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #EEEEEE;
}
.review-list .rating {
  float: right;
  margin-bottom: 20px;
}
.review-list .author {
  float: left;
  margin-bottom: 20px;
}
.review-list .text {
  clear: both;
}
.attribute thead td,
.attribute thead tr td:first-child {
  color: #000000;
  font-size: 14px;
  font-weight: bold;
  background: #F7F7F7;
  text-align: left;
}
.attribute {
  border-collapse: collapse;
  width: 100%;
  border-top: 1px solid #ddd;
  border-left: 1px solid #ddd;
  margin-bottom: 20px;
}
.attribute td {
  padding: 7px;
  color: #4D4D4D;
  text-align: center;
  vertical-align: top;
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}
.attribute tr td:first-child {
  color: #000000;
  font-weight: bold;
  text-align: right;
  width: 20%;
}
.compare-info {
  border-collapse: collapse;
  width: 100%;
  border-top: 1px solid #ddd;
  border-left: 1px solid #ddd;
  margin-bottom: 20px;
}
.compare-info .price-old {
  font-weight: bold;
  color: #F00;
  text-decoration: line-through;
}
.compare-info .price-new {
  font-weight: bold;
}
.compare-info .name a {
  font-weight: bold;
}
.compare-info td {
  padding: 7px;
  width: 20%;
  color: #4D4D4D;
  text-align: center;
  vertical-align: top;
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}
.compare-info tr td:first-child {
  color: #ddd;
  font-weight: bold;
  text-align: right;
}
.compare-info thead td,
.compare-info thead tr td:first-child {
  color: #000000;
  font-size: 14px;
  font-weight: bold;
  background: #F7F7F7;
  text-align: left;
}
.wishlist-info tbody .quantity,
.wishlist-info tbody .price,
.wishlist-info tbody .total,
.wishlist-info tbody .action {
  text-align: right;
}
.wishlist-info thead .name,
.wishlist-info thead .model,
.wishlist-info thead .stock {
  text-align: left;
}
.wishlist-info thead .quantity,
.wishlist-info thead .price,
.wishlist-info thead .total,
.wishlist-info thead .action {
  text-align: right;
}
.wishlist-info tbody .name,
.wishlist-info tbody .model,
.wishlist-info tbody .stock {
  text-align: left;
}
.wishlist-info thead td {
  color: #4D4D4D;
  font-weight: bold;
  background-color: #F7F7F7;
  border-bottom: 1px solid #ddd;
}
.wishlist-info thead .image {
  text-align: center;
}
.wishlist-info tbody td {
  vertical-align: top;
  border-bottom: 1px solid #ddd;
}
.wishlist-info tbody .action img {
  cursor: pointer;
}
.wishlist-info tbody .image {
  text-align: center;
}
.wishlist-info tbody .image img {
  border: 1px solid #ddd;
}
.wishlist-info tbody .price s {
  color: #F00;
}
.wishlist-info td {
  padding: 7px;
}
.wishlist-info table {
  width: 100%;
  border-collapse: collapse;
  border-top: 1px solid #ddd;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  margin-bottom: 20px;
}
.order-list {
  margin-bottom: 10px;
}
.order-list .order-status {
  width: 49%;
  float: right;
  text-align: right;
  margin-bottom: 2px;
}
.order-list .order-content {
  padding: 10px 0px;
  display: inline-block;
  width: 100%;
  margin-bottom: 20px;
  border-top: 1px solid #EEEEEE;
  border-bottom: 1px solid #EEEEEE;
}
.order-list .order-content div {
  float: left;
  width: 33.3%;
}
.order-list .order-info {
  text-align: right;
}
.order-list .order-id {
  width: 49%;
  float: left;
  margin-bottom: 2px;
}
.order-detail {
  background: #EFEFEF;
  font-weight: bold;
}
.return-list {
  margin-bottom: 10px;
}
.return-list .return-content {
  padding: 10px 0px;
  display: inline-block;
  width: 100%;
  margin-bottom: 20px;
  border-top: 1px solid #EEEEEE;
  border-bottom: 1px solid #EEEEEE;
}
.return-list .return-content div {
  float: left;
  width: 33.3%;
}
.return-list .return-id {
  width: 49%;
  float: left;
  margin-bottom: 2px;
}
.return-list .return-status {
  width: 49%;
  float: right;
  text-align: right;
  margin-bottom: 2px;
}
.return-list .return-info {
  text-align: right;
}
.return-product {
  margin-bottom: 20px;
  clear: both;
  overflow: auto;
}
.return-name {
  float: left;
  width: 31%;
  margin-right: 15px;
}
.return-model {
  float: left;
  width: 31%;
  margin-right: 15px;
}
.return-quantity {
  float: left;
  width: 31%;
}
.return-detail {
  overflow: auto;
  margin-bottom: 20px;
}
.return-reason {
  float: left;
  width: 31%;
  margin-right: 15px;
}
.return-opened {
  float: left;
  width: 31%;
  margin-right: 15px;
}
.return-opened textarea {
  width: 98%;
  vertical-align: top;
}
.return-captcha {
  float: left;
}
.download-list {
  margin-bottom: 10px;
}
.download-list .download-status {
  width: 49%;
  float: right;
  text-align: right;
  margin-bottom: 2px;
}
.download-list .download-id {
  width: 49%;
  float: left;
  margin-bottom: 2px;
}
.download-list .download-content {
  padding: 10px 0px;
  display: inline-block;
  width: 100%;
  margin-bottom: 20px;
  border-top: 1px solid #EEEEEE;
  border-bottom: 1px solid #EEEEEE;
}
.download-list .download-content div {
  float: left;
  width: 33.3%;
}
.download-list .download-info {
  text-align: right;
}
.cart-module > div {
  display: none;
}
.cart-info tbody .name,
.cart-info tbody .model,
.cart-info tbody .quantity {
  text-align: left;
}
.cart-info thead .name,
.cart-info thead .model,
.cart-info thead .quantity {
  text-align: left;
}
.cart-info tbody .quantity input[type='image'],
.cart-info tbody .quantity img {
  position: relative;
  top: 4px;
  cursor: pointer;
}
.cart-info tbody .price,
.cart-info tbody .total {
  text-align: right;
}
.cart-info thead td {
  color: #4D4D4D;
  font-weight: bold;
  background-color: #F7F7F7;
  border-bottom: 1px solid #ddd;
}
.cart-info thead .image {
  text-align: center;
}
.cart-info tbody td {
  vertical-align: top;
  border-bottom: 1px solid #ddd;
}
.cart-info tbody .image {
  text-align: center;
}
.cart-info tbody .image img {
  border: 1px solid #ddd;
}
.cart-info tbody span.stock {
  color: #F00;
  font-weight: bold;
}
.cart-info td {
  padding: 7px;
}
.cart-info table {
  width: 100%;
  margin-bottom: 15px;
  border-collapse: collapse;
  border-top: 1px solid #ddd;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
}
.cart-total {
  border-top: 1px solid #ddd;
  overflow: auto;
  padding-top: 8px;
  margin-top: 10px;
  margin-bottom: 15px;
}
.cart-total td {
  padding: 3px;
  text-align: right;
}
.cart-total table {
  float: right;
}
.cart-info thead .price,
.cart-info thead .total {
  text-align: right;
}
.checkout-heading {
  background: #eeeeee;
  border: 1px solid #eeeeee;
  padding: 8px;
  font-weight: bold;
  font-size: 1;
  color: #555555;
  margin-bottom: 15px;
}
.checkout-heading a {
  float: right;
  margin-top: 1px;
  font-weight: normal;
  text-decoration: none;
}
.checkout-content {
  padding: 0px 0px 15px 0px;
  display: none;
}
.checkout-content .buttons {
  clear: both;
}
.checkout-product tbody .name,
.checkout-product tbody .model {
  text-align: left;
}
.checkout-product thead .name,
.checkout-product thead .model {
  text-align: left;
}
.checkout-product thead td {
  color: #4D4D4D;
  font-weight: bold;
  background-color: #F7F7F7;
  border-bottom: 1px solid #ddd;
}
.checkout-product tfoot td {
  text-align: right;
  border-bottom: 1px solid #ddd;
}
.checkout-product tbody td {
  vertical-align: top;
  border-bottom: 1px solid #ddd;
}
.checkout-product td {
  padding: 7px;
}
.checkout-product table {
  width: 100%;
  border-collapse: collapse;
  border-top: 1px solid #ddd;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  margin-bottom: 20px;
}
.checkout-product tbody .quantity,
.checkout-product tbody .price,
.checkout-product tbody .total {
  text-align: right;
}
.checkout-product thead .quantity,
.checkout-product thead .price,
.checkout-product thead .total {
  text-align: right;
}
.sitemap-info {
  overflow: auto;
  margin-bottom: 40px;
}
.contact-info {
  overflow: auto;
}
.navbar-inverse {
  border-top: none;
  border-bottom: none;
  margin-left: 20px;
}
.navbar-inverse .navbar-nav > li > a {
  font-family: "Montserrat", sans-serif;
}
.navbar-inverse .navbar-nav > li > .dropdown-menu {
  border: none;
  -webkit-box-shadow: 0 10px 12px rgba(0,0,0,0.176);
  box-shadow: 0 10px 12px rgba(0,0,0,0.176);
}
#off-canvas-nav {
  display: none;
}
