.rtl #topbar .topbar ul li {
  margin-right: 8px;
  margin-left: 0px;
}
.rtl #topbar .topbar ul li span {
  margin-right: 0px;
  margin-left: 5px;
}
.rtl #topbar .topbar ul li:first-child {
  margin-right: 15px;
}
.rtl #header #logo {
  padding-left: 20px;
}
.rtl #header #pav-mainnav {
  border-left: none;
  border-right: 1px solid #EEE;
}
.rtl #header .cart-top {
  border-left: none;
  border-right: 1px solid #EEE;
  padding-right: 20px;
  padding-left: 0px;
}
.rtl #header .cart-top #cart > span.icon {
  float: right;
}
.rtl #header .cart-top #cart .content {
  left: 0;
  right: auto;
}
.rtl .navbar-nav > li {
  float: right;
}
.rtl .navbar-nav > li .dropdown-menu {
  right: 0;
  left: auto;
}
.rtl .productcarousel .carousel-controls {
  left: 0;
  right: auto;
}
.rtl .box.box-product .box-heading {
  border-width: 0 5px 0 0;
}
.rtl .quickaccess > div {
  border-width: 0 0 0 1px;
}
.rtl .quickaccess .icon {
  float: right;
}
.rtl .pavtestimonial .carousel-control.left {
  right: 40px;
  left: auto;
}
.rtl .pavtestimonial .carousel-control.right {
  left: 40px;
  right: auto;
}
.rtl .pav-block .blog-item .created:before {
  right: 0px;
  left: auto;
}
.rtl #footer .box .box-heading:after {
  right: 0;
  left: auto;
}
.rtl #footer .box .box-content li {
  padding: 0 15px 0 0;
}
.rtl #footer .box .box-content .social li {
  margin: 0 0 0 8px;
  padding: 0;
  float: right;
}
.rtl #footer .box .box-content .social li a i {
  margin: 0 3px 0 0;
}
.rtl .newsletter_block .title_block {
  text-align: left;
}
